$headerHeight:72px;//顶部高度
$sideBarWidth:260px; //左侧菜单栏宽度
$colsideBarWidth:60px; //左侧菜单栏宽度


:export{
  headerHeight:$headerHeight;//顶部高度
  sideBarWidth:$sideBarWidth; //左侧菜单栏宽度
  colsideBarWidth:$colsideBarWidth; //左侧菜单栏宽度 
}
